@media (max-width: 991px) {
  .product-delivery-line__left {
    max-width: 70%;
  }

  .product-delivery-line__right {
    max-width: 30%;
    justify-content: flex-end;
  }

  .order-head__link {
    font-size: 14px;
    max-width: 115px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
  }

  .order-col:nth-child(2) {
    max-width: 100%;
    width: calc(100% - 150px);
  }

  .order-col:nth-child(3) {
    width: 124px;
  }

  .order-item {
    flex-wrap: wrap;
  }

  .order-small {
    padding: 15px;
  }

  .order-right {
    width: 320px;
  }

  .order-left {
    width: calc(100% - 340px);
    max-width: 100%;
  }

  .order-input input {
    width: 100%;
    height: 49px;
  }

  .order-small .order-item {
    gap: 15px;
  }

  .your-profile {
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;

    input {
      flex: auto;
      width: 100%;
    }
  }

  .order-checkbox-list {
    flex-wrap: wrap;
  }

  .order-checkbox-list .order-checkbox {
    width: 100%;
  }

  .order-info {
    padding-bottom: 24px;
  }

  .order-form {
    margin-top: 24px;
  }

  .order-left__block + .order-left__block {
    margin-top: 50px;
  }

  .order-point {
    flex-wrap: wrap;
    gap: 0;

    .order-point__text {
      width: 100%;
    }
  }

  .order-point__change {
    margin-left: 0;
    min-width: initial;
    padding: 0;
    margin-top: 5px;
  }
}
